# Classes & Objects/Instances & Attributes & Method & Self & Constuctor (__init__(self))

In [52]:
class Car(): # Class
    color = 'red' # default value
    model = 2025 # default value

In [53]:
 #Instance/Object Creation
instCar1 = Car() #all attributes are stored in the instance/object  instCar1

In [54]:
instCar1.color  #all attributes are stored/accessable in/through the instance/object  instCar1

'red'

In [55]:
instCar1.model  #all attributes are stored/accessable  in/through  the instance/object  instCar1

2025

In [56]:
 #Instance/Object Creation
instCar2 = Car()

In [57]:
instCar2.color = 'blue' #overriding the color attribute value

In [58]:
instCar2.color #all attributes are stored/accessable  in/through the instance/object  instCar2

'blue'

In [59]:
instCar2.model #all attributes are stored/accessable in/through the instance/object  instCar2

2025

In [60]:
class employee_details():        
    def get_details(self, emp_id, emp_name):
        print(f'employee id is {emp_id}, and name is {emp_name}')

In [61]:
emp1 = employee_details()

In [62]:
emp1.get_details(100, 'Kulbhushan')

employee id is 100, and name is Kulbhushan

In [63]:
class employee_dels():
    emp_id = 101
    emp_name = 'Shah'
    
    def get_dels(self):
        print(f'employee id is {self.emp_id}, and name is {self.emp_name}')

In [64]:
emp2 = employee_dels()

In [65]:
emp2.get_dels()

employee id is 101, and name is Shah

In [66]:
class employee_dtls():
    
    def set_dtls(self, emp_id, emp_name):
        self.empid = emp_id
        self.empname = emp_name
        
    def get_dtls(self):
        print(f'employee id is {self.empid}, and name is {self.empname}')

In [67]:
emp3 = employee_dtls()

In [68]:
emp3.set_dtls(103, 'Piyush')

In [69]:
emp3.get_dtls()

employee id is 103, and name is Piyush

In [70]:
emp4 = employee_dtls()

In [71]:
emp4.get_dtls()

AttributeError: 'employee_dtls' object has no attribute 'empid'

In [72]:
emp4.set_dtls(104, 'Omen')

In [73]:
emp4.get_dtls()

employee id is 104, and name is Omen

In [74]:
class conclass():
    def __init__(self):
        print('This is a constuctor (method). It is executed when an instance is created')

In [75]:
coninst = conclass()

This is a constuctor (method). It is executed when an instance is created

In [118]:
class calculator():
    
    def __init__(self):
        print('arithematic operations')
    
    def set_add(self, num1, num2):
        self.numb1 = num1
        self.numb2 = num2

    def get_add(self):
        print(self.numb1 + self.numb2)

    
    def set_multiplication(self, num1, num2):
        numb1 = num1
        numb2 = num2

    def get_mul(self):
        return self.numb1 * self.numb2

In [119]:
op1 = calculator()

arithematic operations

In [120]:
op1.set_add(1, 2)

In [121]:
op1.get_add()

3

In [122]:
op1.set_multiplication(1, 2)

In [123]:
op1.get_mul()

2

In [132]:
class calculator1():
    
    def __init__(self):
        print('arithematic operations')
        
    def get_add(self, num1, num2):
        print(numb1 + numb2)

In [133]:
ob  = calculator1()

arithematic operations