# For Loop

### String (SEQUENCE DATA TYPE) as iterable

In [80]:
for i in "Gamaka AI":
    print(i, end ="\n")

G
a
m
a
k
a

A
I

In [81]:
for i in "Gamaka AI":
    print(i, end =" ")

G a m a k a   A I

### List (SEQUENCE DATA TYPE) as iterable

In [82]:
list1 = [1, 2, 3.4, True, "Hello"]
for i in list1:
    print(i)

1
2
3.4
True
Hello

### Tuple (SEQUENCE DATA TYPE) as iterable

In [83]:
for a in {23, 1,23,123, 44,44, 55, 123, 55}:
    print(a)

1
44
23
55
123

### Set (SEQUENCE DATA TYPE) as iterable

In [84]:
for e in (1, 4, 4, 4.5, 4.5, True, "Fls", True, False):
    print(e)

1
4
4
4.5
4.5
True
Fls
True
False

### Range() (SEQUENCE DATA TYPE) function as iterable

In [85]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [86]:
for a in range(1, 11, -1):
    print(a)

In [87]:
for a in range(-11, 1, 1):
    print(a)

-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

### Examples

In [88]:
# Write a program to print the table of 5.
for tb in range(1, 11, 1):
    print(tb*5)

5
10
15
20
25
30
35
40
45
50

In [89]:
# Write a program to print the table of 5.
for tb in range(1, 11, 1):
    print(tb*5)

5
10
15
20
25
30
35
40
45
50

In [90]:
# Write a program to print the odd numbers between 1 to 20
for num in range(1,21):
    if num % 2 != 0:
        print (num)

1
3
5
7
9
11
13
15
17
19

## Loop Control Statements

### continue as a Loop Control Statement

In [91]:
for num in range(1,11):
    if num == 5:
        continue
    print (num)

1
2
3
4
6
7
8
9
10

In [92]:
for num in range(1,11):
    if num == 5 or num == 7:
        continue  # to skip the IF loop if condition(s) is(are) met
    print (num)

1
2
3
4
6
8
9
10

### break as a Loop Control Statement

In [93]:
for num in range(1,11):
    if num == 5:
        break # to terminate the IF loop if condition(s) is(are) meet
    print (num)

1
2
3
4

### pass as a Loop Control Statement

In [94]:
for num in range(1,11):
    if num == 5 or num == 7:
        pass # does not do anything or NULL operation
    print (num)

1
2
3
4
5
6
7
8
9
10

### Writing FOR loop and a STATEMENT in A SINGLE LINE

In [95]:
for num in range(1,11): print (num)

1
2
3
4
5
6
7
8
9
10