In [ ]:
import pandas as pd

In [ ]:
df4=pd.read_csv("Data.csv")
df4

In [3]:
df4=pd.read_csv("Data.csv",header=0)
#df4=pd.read_csv("Data.csv",header=None)
df4

    name  maths  phy result
0    tom     80   70   Pass
1   jhon     75   67   Pass
2    max     28   55   Fail
3    raj     88   70   Pass
4  shyam     23   29   Fail
5    ram     95   89   Pass

In [76]:
df5=pd.read_csv("Data.csv",names=["a","b","c","d"])
df5

       a      b    c       d
0   name  maths  phy  result
1    tom     80   70    Pass
2   jhon     75   67    Pass
3    max     28   55    Fail
4    raj     88   70    Pass
5  shyam     23   29    Fail
6    ram     95   89    Pass

In [5]:
df6=pd.read_csv("Data.csv",names=["a","b","c","d","e"])
df6

       a      b    c       d   e
0   name  maths  phy  result NaN
1    tom     80   70    Pass NaN
2   jhon     75   67    Pass NaN
3    max     28   55    Fail NaN
4    raj     88   70    Pass NaN
5  shyam     23   29    Fail NaN
6    ram     95   89    Pass NaN

In [6]:
pip install lxml

Requirement already satisfied: lxml in d:\gamakaai\anaconda\lib\site-packages (5.2.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
ipl=pd.read_html("https://en.wikipedia.org/wiki/2024_Indian_Premier_League")
ipl

[                       0                                                1
 0                    NaN                                              NaN
 1                  Dates                           22 March – 26 May 2024
 2       Administrator(s)     Board of Control for Cricket in India (BCCI)
 3         Cricket format                                         Twenty20
 4   Tournament format(s)                         Group stage and Playoffs
 5                Host(s)                                            India
 6              Champions                Kolkata Knight Riders (3rd title)
 7             Runners-up                              Sunrisers Hyderabad
 8           Participants                                               10
 9                Matches                                               74
 10  Most valuable player             Sunil Narine (Kolkata Knight Riders)
 11             Most runs  Virat Kohli (Royal Challengers Bengaluru) (741)
 12          Most wickets                Harshal Patel (Punjab Kings) (24)
 13      Official website                                       iplt20.com
 14          ← 20232025 →                                     ← 20232025 →,
                                                Teams
                                              Group A
 0  Mumbai Indians Kolkata Knight Riders Rajasthan...
 1                                            Group B
 2  Sunrisers Hyderabad Royal Challengers Bengalur...
 3  Note: Teams are listed per the playing order. ...,
                  Group A                      Group B
 0         Mumbai Indians          Sunrisers Hyderabad
 1  Kolkata Knight Riders  Royal Challengers Bengaluru
 2       Rajasthan Royals                 Punjab Kings
 3         Delhi Capitals               Gujarat Titans
 4   Lucknow Super Giants          Chennai Super Kings,
   Group                         Team 2023 performance[27]      Head coach[28]  \
 0     A               Delhi Capitals                  9th       Ricky Ponting
 1     A        Kolkata Knight Riders                  7th  Chandrakant Pandit
 2     A         Lucknow Super Giants                  4th       Justin Langer
 3     A               Mumbai Indians                  3rd        Mark Boucher
 4     A             Rajasthan Royals                  5th    Kumar Sangakkara
 5     B          Chennai Super Kings            Champions     Stephen Fleming
 6     B               Gujarat Titans            Runner-up        Ashish Nehra
 7     B                 Punjab Kings                  8th      Trevor Bayliss
 8     B  Royal Challengers Bengaluru                  6th         Andy Flower
 9     B          Sunrisers Hyderabad                 10th      Daniel Vettori

        Captain[28]
 0     Rishabh Pant
 1     Shreyas Iyer
 2         KL Rahul
 3    Hardik Pandya
 4     Sanju Samson
 5  Ruturaj Gaikwad
 6     Shubman Gill
 7   Shikhar Dhawan
 8   Faf du Plessis
 9      Pat Cummins  ,
                        Ahmedabad  \
 0                 Gujarat Titans
 1          Narendra Modi Stadium
 2              Capacity: 132,000
 3                            NaN
 4                       Guwahati
 5               Rajasthan Royals
 6            ACA Cricket Stadium
 7               Capacity: 37,800
 8                            NaN
 9                         Jaipur
 10              Rajasthan Royals
 11        Sawai Mansingh Stadium
 12              Capacity: 25,000
 13                           NaN
 14                       Lucknow
 15          Lucknow Super Giants
 16  BRSABV Ekana Cricket Stadium
 17              Capacity: 50,000
 18                           NaN

                                             Bengaluru  \
 0                         Royal Challengers Bengaluru
 1                              M. Chinnaswamy Stadium
 2                                    Capacity: 35,000
 3                                                 NaN
 4   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 5   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 6   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 7   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 8   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 9   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 10  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 11  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 12  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 13  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 14                                          Mullanpur
 15                                       Punjab Kings
 16                  Maharaja Yadavindra Singh Stadium
 17                               Capacity: 38,000[36]
 18                                                NaN

                                               Chennai  \
 0                                 Chennai Super Kings
 1                           M. A. Chidambaram Stadium
 2                                    Capacity: 39,000
 3                                                 NaN
 4   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 5   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 6   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 7   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 8   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 9   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 10  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 11  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 12  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 13  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...
 14                                             Mumbai
 15                                     Mumbai Indians
 16                                   Wankhede Stadium
 17                                   Capacity: 33,108
 18                                                NaN

                                                 Delhi            Dharamshala
 0                                      Delhi Capitals           Punjab Kings
 1                                Arun Jaitley Stadium   HPCA Cricket Stadium
 2                                    Capacity: 35,200       Capacity: 21,200
 3                                                 NaN                    NaN
 4   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...              Hyderabad
 5   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...    Sunrisers Hyderabad
 6   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...   Rajiv Gandhi Stadium
 7   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...       Capacity: 55,000
 8   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...                    NaN
 9   AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...                Kolkata
 10  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...  Kolkata Knight Riders
 11  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...           Eden Gardens
 12  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...       Capacity: 68,000
 13  AhmedabadBengaluruChennaiDelhiDharamshalaGuwah...                    NaN
 14                                      Visakhapatnam                    NaN
 15                                     Delhi Capitals                    NaN
 16                           ACA–VDCA Cricket Stadium                    NaN
 17                                   Capacity: 27,500                    NaN
 18                                                NaN                    NaN  ,
                                      External videos  \
 0  IPL 2024 – Opening ceremony on JioCinema (subs...

                                    External videos.1
 0  IPL 2024 – Opening ceremony on JioCinema (subs...  ,
    Pos Grp                            Teamvte  Pld  W   L  NR  Pts     NRR  \
 0    1   A          Kolkata Knight Riders (C)   14  9   3   2   20   1.428
 1    2   B            Sunrisers Hyderabad (R)   14  8   5   1   17   0.414
 2    3   A             Rajasthan Royals (3rd)   14  8   5   1   17   0.273
 3    4   B  Royal Challengers Bengaluru (4th)   14  7   7   0   14   0.459
 4    5   B                Chennai Super Kings   14  7   7   0   14   0.392
 5    6   A                     Delhi Capitals   14  7   7   0   14  −0.377
 6    7   A               Lucknow Super Giants   14  7   7   0   14  −0.667
 7    8   B                     Gujarat Titans   14  5   7   2   12  −1.063
 8    9   B                       Punjab Kings   14  5   9   0   10  −0.353
 9   10   A                     Mumbai Indians   14  4  10   0    8  −0.318

              Qualification
 0  Advanced to Qualifier 1
 1  Advanced to Qualifier 1
 2   Advanced to Eliminator
 3   Advanced to Eliminator
 4               Eliminated
 5               Eliminated
 6               Eliminated
 7               Eliminated
 8               Eliminated
 9               Eliminated  ,
                           Team Group matches                                  \
                           Team             1  2  3  4  5   6   7   8   9  10
 0          Chennai Super Kings             2  4  4  4  6   8   8   8  10  10
 1               Delhi Capitals             0  0  2  2  2   4   6   6   8  10
 2               Gujarat Titans             2  2  4  4  4   6   6   8   8   8
 3        Kolkata Knight Riders             2  4  6  6  8   8  10  10  12  14
 4         Lucknow Super Giants             0  2  4  6  6   6   8  10  10  12
 5               Mumbai Indians             0  0  0  2  4   4   6   6   6   6
 6                 Punjab Kings             2  2  2  4  4   4   4   4   6   8
 7             Rajasthan Royals             2  4  6  8  8  10  12  14  16  16
 8  Royal Challengers Bengaluru             0  2  2  2  2   2   2   2   4   6
 9          Sunrisers Hyderabad             0  2  2  4  6   8  10  10  10  12

                   Playoffs
    11  12  13  14     Q1/E   Q2    F
 0  12  12  14  14      NaN  NaN  NaN
 1  10  12  12  14      NaN  NaN  NaN
 2   8  10  11  12      NaN  NaN  NaN
 3  16  18  19  20        W  NaN    W
 4  12  12  12  14      NaN  NaN  NaN
 5   6   8   8   8      NaN  NaN  NaN
 6   8   8  10  10      NaN  NaN  NaN
 7  16  16  16  17        W    L  NaN
 8   8  10  12  14        L  NaN  NaN
 9  12  14  15  17        L    W    L  ,
      0     1          2
 0  Win  Loss  No result,
                 Visitor team →                  CSK                 DC  \
                    Home team ↓                  CSK                 DC
 0          Chennai Super Kings                  NaN                NaN
 1               Delhi Capitals        Delhi 20 runs                NaN
 2               Gujarat Titans      Gujarat 35 runs    Delhi 6 wickets
 3        Kolkata Knight Riders                  NaN  Kolkata 7 wickets
 4         Lucknow Super Giants    Lucknow 8 wickets    Delhi 6 wickets
 5               Mumbai Indians      Chennai 20 runs     Mumbai 29 runs
 6                 Punjab Kings      Chennai 28 runs   Punjab 4 wickets
 7             Rajasthan Royals                  NaN  Rajasthan 12 runs
 8  Royal Challengers Bengaluru    Bengaluru 27 runs  Bengaluru 47 runs
 9          Sunrisers Hyderabad  Hyderabad 6 wickets                NaN

                     GT                KKR                   LSG  \
                     GT                KKR                   LSG
 0      Chennai 63 runs  Chennai 7 wickets     Lucknow 6 wickets
 1         Delhi 4 runs   Kolkata 106 runs         Delhi 19 runs
 2                  NaN    Match abandoned                   NaN
 3                  NaN                NaN     Kolkata 8 wickets
 4      Lucknow 33 runs    Kolkata 98 runs                   NaN
 5                  NaN    Kolkata 24 runs       Lucknow 18 runs
 6    Gujarat 3 wickets                NaN                   NaN
 7    Gujarat 3 wickets    Match abandoned     Rajasthan 20 runs
 8  Bengaluru 4 wickets  Kolkata 7 wickets       Lucknow 28 runs
 9      Match abandoned                NaN  Hyderabad 10 wickets

                     MI                 PBKS                   RR  \
                     MI                 PBKS                   RR
 0                  NaN     Punjab 7 wickets    Chennai 5 wickets
 1        Delhi 10 runs                  NaN        Delhi 20 runs
 2       Gujarat 6 runs     Punjab 3 wickets                  NaN
 3      Kolkata 18 runs     Punjab 8 wickets  Rajasthan 2 wickets
 4    Lucknow 4 wickets      Lucknow 21 runs  Rajasthan 7 wickets
 5                  NaN                  NaN  Rajasthan 6 wickets
 6        Mumbai 9 runs                  NaN  Rajasthan 3 wickets
 7  Rajasthan 9 wickets     Punjab 5 wickets                  NaN
 8                  NaN  Bengaluru 4 wickets                  NaN
 9    Hyderabad 31 runs  Hyderabad 4 wickets      Hyderabad 1 run

                    RCB                SRH
                    RCB                SRH
 0    Chennai 6 wickets    Chennai 78 runs
 1                  NaN  Hyderabad 67 runs
 2  Bengaluru 9 wickets  Gujarat 7 wickets
 3        Kolkata 1 run     Kolkata 4 runs
 4                  NaN                NaN
 5     Mumbai 7 wickets   Mumbai 7 wickets
 6    Bengaluru 60 runs   Hyderabad 2 runs
 7  Rajasthan 6 wickets                NaN
 8                  NaN  Hyderabad 25 runs
 9    Bengaluru 35 runs                NaN  ,
                0                 1
 0  Home team won  Visitor team won,
                                            0
 0  Match 1 22 March 2024 20:00 (N) Scorecard,
                                                    0    1  \
 0       Royal Challengers Bengaluru 173/6 (20 overs)    v
 1  Anuj Rawat 48 (25) Mustafizur Rahman 4/29 (4 o...  NaN

                                                    2
 0         Chennai Super Kings (H) 176/4 (18.4 overs)
 1  Rachin Ravindra 37 (15) Cameron Green 2/27 (3 ...  ,
                                                    0
 0  Chennai Super Kings won by 6 wickets  M. A. Ch...,
                                              0
 0  Match 2 23 March 2024 15:30 (D/N) Scorecard,
                                                  0    1  \
 0                  Delhi Capitals 174/9 (20 overs)    v
 1  Shai Hope 33 (25) Arshdeep Singh 2/28 (4 overs)  NaN

                                                  2
 0              Punjab Kings (H) 177/6 (19.2 overs)
 1  Sam Curran 63 (47) Kuldeep Yadav 2/20 (4 overs)  ,
                                                    0
 0  Punjab Kings won by 4 wickets  Maharaja Yadavi...,
                                            0
 0  Match 3 23 March 2024 19:30 (N) Scorecard,
                                                    0    1  \
 0         (H) Kolkata Knight Riders 208/7 (20 overs)    v
 1  Andre Russell 64* (25) T. Natarajan 3/32 (4 ov...  NaN

                                                    2
 0               Sunrisers Hyderabad 204/7 (20 overs)
 1  Heinrich Klaasen 63 (29) Harshit Rana 3/33 (4 ...  ,
                                                    0
 0  Kolkata Knight Riders won by 4 runs  Eden Gard...,
                                              0
 0  Match 4 24 March 2024 15:30 (D/N) Scorecard,
                                                    0    1  \
 0              (H) Rajasthan Royals 193/4 (20 overs)    v
 1  Sanju Samson 82* (52) Naveen-ul-Haq 2/41 (4 ov...  NaN

                                                    2
 0              Lucknow Super Giants 173/6 (20 overs)
 1  Nicholas Pooran 64* (41) Trent Boult 2/35 (4 o...  ,
                                                    0
 0  Rajasthan Royals won by 20 runs  Sawai Mansing...,
                                            0
 0  Match 5 24 March 2024 19:30 (N) Scorecard,
                                                    0    1  \
 0                (H) Gujarat Titans 168/6 (20 overs)    v
 1  Sai Sudharsan 45 (39) Jasprit Bumrah 3/14 (4 o...  NaN

                                                    2
 0                    Mumbai Indians 162/9 (20 overs)
 1  Dewald Brevis 46 (38) Spencer Johnson 2/25 (2 ...  ,
                                                    0
 0  Gujarat Titans won by 6 runs  Narendra Modi St...,
                                            0
 0  Match 6 25 March 2024 19:30 (N) Scorecard,
                                                    0    1  \
 0                      Punjab Kings 176/6 (20 overs)    v
 1  Shikhar Dhawan 45 (37) Mohammed Siraj 2/26 (4 ...  NaN

                                                    2
 0  Royal Challengers Bengaluru (H) 178/6 (19.2 ov...
 1   Virat Kohli 77 (49) Harpreet Brar 2/13 (4 overs)  ,
                                                    0
 0  Royal Challengers Bengaluru won by 4 wickets  ...,
                                            0
 0  Match 7 26 March 2024 19:30 (N) Scorecard,
                                                 0    1  \
 0        (H) Chennai Super Kings 206/6 (20 overs)    v
 1  Shivam Dube 51 (23) Rashid Khan 2/49 (4 overs)  NaN

                                                    2
 0                    Gujarat Titans 143/8 (20 overs)
 1  Sai Sudharsan 37 (31) Tushar Deshpande 2/21 (4...  ,
                                                    0
 0  Chennai Super Kings won by 63 runs  M. A. Chid...,
                                            0
 0  Match 8 27 March 2024 19:30 (N) Scorecard,
                                                    0    1  \
 0           (H) Sunrisers Hyderabad 277/3 (20 overs)    v
 1  Heinrich Klassen 80* (34) Piyush Chawla 1/34 (...  NaN

                                                 2
 0                 Mumbai Indians 246/5 (20 overs)
 1  Tilak Varma 64 (34) Pat Cummins 2/35 (4 overs)  ,
                                                    0
 0  Sunrisers Hyderabad won by 31 runs  Rajiv Gand...,
                                            0
 0  Match 9 28 March 2024 19:30 (N) Scorecard,
                                                 0    1  \
 0           (H) Rajasthan Royals 185/5 (20 overs)    v
 1  Riyan Parag 84* (45) Axar Patel 1/21 (4 overs)  NaN

                                                    2
 0                    Delhi Capitals 173/5 (20 overs)
 1  David Warner 49 (34) Yuzvendra Chahal 2/19 (3 ...  ,
                                                    0
 0  Rajasthan Royals won by 12 runs  Sawai Mansing...,
                                             0
 0  Match 10 29 March 2024 19:30 (N) Scorecard,
                                                    0    1  \
 0   (H) Royal Challengers Bengaluru 182/6 (20 overs)    v
 1  Virat Kohli 83* (59) Andre Russell 2/29 (4 overs)  NaN

                                                    2
 0           Kolkata Knight Riders 186/3 (16.5 overs)
 1  Venkatesh Iyer 50 (30) Vijaykumar Vyshak 1/23 ...  ,
                                                    0
 0  Kolkata Knight Riders won by 7 wickets  M. Chi...,
                                             0
 0  Match 11 30 March 2024 19:30 (N) Scorecard,
                                                    0    1  \
 0          (H) Lucknow Super Giants 199/8 (20 overs)    v
 1  Quinton de Kock 54 (38) Sam Curran 3/28 (4 overs)  NaN

                                                    2
 0                      Punjab Kings 178/5 (20 overs)
 1  Shikhar Dhawan 70 (50) Mayank Yadav 3/27 (4 ov...  ,
                                                    0
 0  Lucknow Super Giants won by 21 runs  BRSABV Ek...,
                                               0
 0  Match 12 31 March 2024 15:30 (D/N) Scorecard,
                                                  0    1  \
 0             Sunrisers Hyderabad 162/8 (20 overs)    v
 1  Abdul Samad 29 (14) Mohit Sharma 3/25 (4 overs)  NaN

                                                    2
 0              Gujarat Titans (H) 168/3 (19.1 overs)
 1  Sai Sudharsan 45 (36) Shahbaz Ahmed 1/20 (2 ov...  ,
                                                    0
 0  Gujarat Titans won by 7 wickets  Narendra Modi...,
                                             0
 0  Match 13 31 March 2024 19:30 (N) Scorecard,
                                                    0    1  \

In [24]:
ipl[240]

,vteIndian Premier League,vteIndian Premier League.1
0,Board of Control for Cricket in India Cricket ...,Board of Control for Cricket in India Cricket ...
1,Seasons,2008 2009 2010 2011 2012 2013 2014 2015 2016 2...
2,Personnel changes,2008 2009 2010 2011 2012 2013 2014 2015 2016 2...
3,Finals,2008 2009 2010 2011 2012 2013 2014 2015 2016 2...
4,Teams,Chennai Super Kings Delhi Capitals Gujarat Tit...
5,Defunct,Deccan Chargers Gujarat Lions Kochi Tuskers Ke...
6,Venues,ACA Stadium ACA–VDCA Stadium Arun Jaitley Stad...
7,Statistics and records,Teams Results Scores Batting Bowling Five-wick...
8,Lists,Awards Orange Cap Purple Cap Captains Centuries
9,Legal issues,2012 spot-fixing case 2013 spot-fixing and bet...
10,Related topics,Champions League Twenty20 Icon player Women's ...
11,Category Commons,Category Commons

In [25]:
type(ipl[0])

pandas.core.frame.DataFrame

In [26]:
ipl_data=ipl[0]

In [27]:
ipl_data

                       0                                                1
0                    NaN                                              NaN
1                  Dates                           22 March – 26 May 2024
2       Administrator(s)     Board of Control for Cricket in India (BCCI)
3         Cricket format                                         Twenty20
4   Tournament format(s)                         Group stage and Playoffs
5                Host(s)                                            India
6              Champions                Kolkata Knight Riders (3rd title)
7             Runners-up                              Sunrisers Hyderabad
8           Participants                                               10
9                Matches                                               74
10  Most valuable player             Sunil Narine (Kolkata Knight Riders)
11             Most runs  Virat Kohli (Royal Challengers Bengaluru) (741)
12          Most wickets                Harshal Patel (Punjab Kings) (24)
13      Official website                                       iplt20.com
14          ← 20232025 →                                     ← 20232025 →

# to_csv()

Now, we can save our DataFrame in a CSV file using the pandas “to_csv()” function.

In [28]:
ipl_data.to_csv("ipl_data.csv")

# shape

Now, if we want to see the dimension of our dataset, we can use “shape”, which will show the dimensions in (No. of rows, No. of columns) format.

In [29]:
df=pd.read_csv("Data.csv")

In [30]:
df

    name  maths  phy result
0    tom     80   70   Pass
1   jhon     75   67   Pass
2    max     28   55   Fail
3    raj     88   70   Pass
4  shyam     23   29   Fail
5    ram     95   89   Pass

In [31]:
df.shape

(6, 4)

In [34]:
df.shape[0] # ows

6

In [35]:
df.shape[1] # columns

4

# info()

Now, if we want to know some more information about our dataset, we can use the “info()” function of pandas. It displays various information about our data such as the column names, no. of non-null values in each column(feature), type of each column, memory usage, etc.

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   maths   6 non-null      int64
 2   phy     6 non-null      int64
 3   result  6 non-null      object
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

In [50]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       7 non-null      object
 1   b       7 non-null      object
 2   c       7 non-null      object
 3   d       7 non-null      object
 4   e       0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 412.0+ bytes

# isnull()

Using “isnull()” and “sum()” functions, we can find that the no. of null values in a DataFrame for every feature.

In [44]:
df.isnull()

    name  maths    phy  result
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False
3  False  False  False   False
4  False  False  False   False
5  False  False  False   False

In [49]:
df6.isnull()

       a      b      c      d     e
0  False  False  False  False  True
1  False  False  False  False  True
2  False  False  False  False  True
3  False  False  False  False  True
4  False  False  False  False  True
5  False  False  False  False  True
6  False  False  False  False  True

In [47]:
df.isnull().sum()

name      0
maths     0
phy       0
result    0
dtype: int64

In [51]:
df6.isnull().sum()

a    0
b    0
c    0
d    0
e    7
dtype: int64

# drop()

 Hence, we will drop that particular column using the pandas “drop()” function. Note – We provide “inplace=True’ to modify the current DataFrame.

In [52]:
df

    name  maths  phy result
0    tom     80   70   Pass
1   jhon     75   67   Pass
2    max     28   55   Fail
3    raj     88   70   Pass
4  shyam     23   29   Fail
5    ram     95   89   Pass

In [55]:
df10=df.drop("phy",axis=1)
df10

    name  maths result
0    tom     80   Pass
1   jhon     75   Pass
2    max     28   Fail
3    raj     88   Pass
4  shyam     23   Fail
5    ram     95   Pass

In [57]:
df11=df.drop(1,axis=0)
df11

    name  maths  phy result
0    tom     80   70   Pass
2    max     28   55   Fail
3    raj     88   70   Pass
4  shyam     23   29   Fail
5    ram     95   89   Pass

In [58]:
df=pd.read_csv("Data.csv")
df

    name  maths  phy result
0    tom     80   70   Pass
1   jhon     75   67   Pass
2    max     28   55   Fail
3    raj     88   70   Pass
4  shyam     23   29   Fail
5    ram     95   89   Pass

# describe()

Now, using the “describe()” function, we can get various information about the numerical columns in our DataFrame, such as total count of rows, mean, the minimum value, the maximum value, and the spread of the values in the particular feature.

In [61]:
print(df["maths"].max())
print(df["phy"].min())
print(df["phy"].mean())
print(df["maths"].median())
print(df["result"].mode())
print(df["maths"].std())

95
29
63.333333333333336
77.5
0    Pass
Name: result, dtype: object
31.262864018938934

In [62]:
df.describe()

           maths        phy
count   6.000000   6.000000
mean   64.833333  63.333333
std    31.262864  20.046612
min    23.000000  29.000000
25%    39.750000  58.000000
50%    77.500000  68.500000
75%    86.000000  70.000000
max    95.000000  89.000000

# value_counts()

“value_counts()” function is used to identify the different categories in a feature as well as the count of values per category.

In [65]:
df.result.value_counts()

result
Pass    4
Fail    2
Name: count, dtype: int64

In [66]:
df.name.value_counts()

name
tom      1
jhon     1
max      1
raj      1
shyam    1
ram      1
Name: count, dtype: int64

# nunique()

We can use the “nunique()” function to find the no. of unique values in our series or data frame. Generally, it is used in the case of categorical features to identify the no. of categories in a particular feature.

In [67]:
df["result"].unique()

array(['Pass', 'Fail'], dtype=object)

In [68]:
df["result"].nunique()

2

In [69]:
df["name"].unique()

array(['tom', 'jhon', 'max', 'raj', 'shyam', 'ram'], dtype=object)

In [70]:
df["name"].nunique()

6