# Descriptor

In [1]:
class Stud():
    age = None

In [2]:
obj1 = Stud()

In [4]:
print(obj1.age)

None

In [5]:
obj1.age = 23

In [6]:
print(obj1.age)

23

## Descriptor

In [65]:
# Descriptor
class Stud_Det():
    age = None
    def get_age(self):
        print('get the age')
        return self._age
    def set_age(self, age):
        print('set the age')
        self._age = age
    def del_age(self):
        print('delete the age')
        del self._age
    age = property(get_age, set_age, del_age)

In [26]:
studobj = Stud_Det()

In [27]:
studobj.age = 34

set the age

In [28]:
print(studobj.age)

get the age
34

In [29]:
del studobj.age

delete the age

In [30]:
print(studobj.age)

get the age

AttributeError: 'Stud_Det' object has no attribute '_age'

## Alternative way to create a Descriptor

In [38]:
# Alternative way to create a Descriptor
# attribute and methods name should be same
# methods name should be same
# @property to be used above 'Get' method
# @attribute/method_name.setter to be used above 'Set' method
# @attribute/method_name.deleter to be used above 'Del' method

class Stud_details():
    age = None # method name and attribute name should be same

    # methods name should be same
    @property
    def age(self): # method name and attribute name should be same
        print('get the age')
        return self._age

    @age.setter
    def age(self, age):
        print('set the age')
        self._age = age

    @age.deleter
    def age(self):
        print('delete the age')
        del self._age

In [39]:
sob = Stud_details()

In [40]:
sob.age = 33
print(sob.age)
del sob.age

set the age
get the age
33
delete the age

## Validation using isinstance() function

In [41]:
# Validation using isinstance() function

class St():
    age = None # method name and attribute name should be same

    # methods name should be same
    @property
    def age(self): # method name and attribute name should be same
        print('get the age')
        return self._age

    @age.setter
    def age(self, age):
        print('set the age')
        if isinstance(age, int) == False:
            raise Exception('integer type Age is required')
        elif age < 0:
            raise Exception('Negative Age entered')
        else:
            self._age = age

    @age.deleter
    def age(self):
        print('delete the age')
        del self._age

In [59]:
sob1 = St()

In [57]:
sob1.age = 33

set the age

In [60]:
print(sob1.age)

get the age

AttributeError: 'St' object has no attribute '_age'

In [61]:
sob1.age = 'Hello'

set the age

Exception: integer type Age is required

In [62]:
del sob1.age

delete the age

AttributeError: 'St' object has no attribute '_age'

In [63]:
sob1.age = -33

set the age

Exception: Negative Age entered

In [64]:
sob1.age = 33
print(sob1.age)
del sob1.age

set the age
get the age
33
delete the age

## Example

In [103]:
# Create a descriptor to validate Name attribute.
# Name should be less than 30 character
# Name should be a string

class NameVal():
    name = None # method name and attribute name should be same

    # methods name should be same
    @property
    def name(self): # method name and attribute name should be same
        print('get the _name')
        return self._name

    @name.setter
    def name(self, name):
        if isinstance(name, str) == False:
            raise Exception('Invalid Name. String type _name is required')
        elif len(name) > 30:
            raise Exception('Invalid Name. characters entered are more than 30 for _name attribute. Less than 30 is required')
        elif len(name) <= 0:
            raise Exception('Invalid Name. black space/Null entered for _name attribute, Blankspace/null is not required')
        else:
            print('set the _name')
            self._name = name

    @name.deleter
    def name(self):
        print('delete the _name')
        del self._name

In [104]:
namobj = NameVal()

In [105]:
namobj.name = 'Hello'

set the _name

In [106]:
print(namobj.name)

get the _name
Hello

In [107]:
del namobj.name

delete the _name

In [108]:
namobj.name = ''

Exception: Invalid Name. black space/Null entered for _name attribute, Blankspace/null is not required

In [109]:
namobj.name = 36

Exception: Invalid Name. String type _name is required

In [110]:
namobj.name = 'This is just to piss the programm so that it can throw an error'

Exception: Invalid Name. characters entered are more than 30 for _name attribute. Less than 30 is required

In [111]:
namobj.name = 'Kulbhushan'

set the _name

In [112]:
print(namobj.name)

get the _name
Kulbhushan

In [113]:
del namobj.name

delete the _name