In [ ]:
import pandas as pd
import numpy as np

The random is a module present in the NumPy library.
This module contains the functions which are used for generating random numbers.

In [ ]:
np.random.rand(5,3)

# Seed
Seed function is used to save the state of a random function,
so that it can generate same random numbers on multiple executions of the code on the same machine or on different machines (for a specific seed value).

In [3]:
np.random.seed(2)
r=np.random.rand(4,3)  #Creating Random Dataset
r

array([[0.4359949 , 0.02592623, 0.54966248],
       [0.43532239, 0.4203678 , 0.33033482],
       [0.20464863, 0.61927097, 0.29965467],
       [0.26682728, 0.62113383, 0.52914209]])

In [4]:
np.random.seed(2)
r1=np.random.rand(4,3)
r1

array([[0.4359949 , 0.02592623, 0.54966248],
       [0.43532239, 0.4203678 , 0.33033482],
       [0.20464863, 0.61927097, 0.29965467],
       [0.26682728, 0.62113383, 0.52914209]])

In [5]:
rdf=pd.DataFrame(r)
rdf

          0         1         2
0  0.435995  0.025926  0.549662
1  0.435322  0.420368  0.330335
2  0.204649  0.619271  0.299655
3  0.266827  0.621134  0.529142

In [65]:
row=["a","b","c","d"] #internally, index numbers are stored from 0 to n
col=["x","y","z"]
rdf=pd.DataFrame(r,index=row,columns=col)
rdf

          x         y         z
a  0.435995  0.025926  0.549662
b  0.435322  0.420368  0.330335
c  0.204649  0.619271  0.299655
d  0.266827  0.621134  0.529142

In [26]:
rdf[["x","y"]]  #Only cols are accepted

          x         y
a  0.435995  0.025926
b  0.435322  0.420368
c  0.204649  0.619271
d  0.266827  0.621134

In [27]:
rdf["x"] #Only cols are accepted

a    0.435995
b    0.435322
c    0.204649
d    0.266827
Name: x, dtype: float64

In [28]:
rdf["a"] # we need to use loc() and iloc() to select rOWS

KeyError: 'a'

#  loc() and iloc()

loc() and iloc() methods are used in slicing data from the pandas DataFrame which helps in filtering the data according to some given condition.

1.loc – select by labels

2.iloc – select by positions

In [29]:
rdf.loc[["a","d"],["x"]] #(rows, cols)

          x
a  0.435995
d  0.266827

In [30]:
rdf.loc[['a','b'],["x"]] #(rows, cols)

          x
a  0.435995
b  0.435322

In [35]:
rdf.loc[['a','b']] #(rows, cols)

          x         y         z
a  0.435995  0.025926  0.549662
b  0.435322  0.420368  0.330335

iloc() slices the data frame in the specified rows and column range.

In [31]:
rdf.iloc[[0,3],[0,1]] #(rows, cols) #internally, index numbers are stored

          x         y
a  0.435995  0.025926
d  0.266827  0.621134

In [37]:
rdf.iloc[0] #(rows, cols) #internally, index numbers are stored

x    0.435995
y    0.025926
z    0.549662
Name: a, dtype: float64

In [38]:
rdf.iloc[[0,3]] #(rows) #internally, index numbers are stored

          x         y         z
a  0.435995  0.025926  0.549662
d  0.266827  0.621134  0.529142

In [39]:
rdf.iloc[0:3,0:1] #(rows, cols) #internally, index numbers are stored

          x
a  0.435995
b  0.435322
c  0.204649

In [40]:
rdf

          x         y         z
a  0.435995  0.025926  0.549662
b  0.435322  0.420368  0.330335
c  0.204649  0.619271  0.299655
d  0.266827  0.621134  0.529142

In [41]:
rdf>0.5

       x      y      z
a  False  False   True
b  False  False  False
c  False   True  False
d  False   True   True

In [42]:
#rdf["Condition"]
rdf[rdf>0.5]

    x         y         z
a NaN       NaN  0.549662
b NaN       NaN       NaN
c NaN  0.619271       NaN
d NaN  0.621134  0.529142

In [44]:
rdf.loc[["a","d"]]

          x         y         z
a  0.435995  0.025926  0.549662
d  0.266827  0.621134  0.529142

In [45]:
rdf.loc[["a","d"]] > 0.5

       x      y     z
a  False  False  True
d  False   True  True

In [43]:
rdf[rdf.loc[["a","d"]]>0.5]

    x         y         z
a NaN       NaN  0.549662
b NaN       NaN       NaN
c NaN       NaN       NaN
d NaN  0.621134  0.529142

In [46]:
rdf[rdf.loc[["a","b"]]>0.5]

    x   y         z
a NaN NaN  0.549662
b NaN NaN       NaN
c NaN NaN       NaN
d NaN NaN       NaN

In [47]:
rdf[(rdf["x"]>0.5)&(rdf["y"]<0.9)] #Both the condition should be satisfied

Empty DataFrame
Columns: [x, y, z]
Index: []

In [48]:
rdf[(rdf["x"]>0.5) | (rdf["y"]<0.9)]

          x         y         z
a  0.435995  0.025926  0.549662
b  0.435322  0.420368  0.330335
c  0.204649  0.619271  0.299655
d  0.266827  0.621134  0.529142

# set_index()

So, we can use Pandas “set_index()” function to set any of your columns as the index.

In [49]:
print(rdf)
rdf.set_index("x")

          x         y         z
a  0.435995  0.025926  0.549662
b  0.435322  0.420368  0.330335
c  0.204649  0.619271  0.299655
d  0.266827  0.621134  0.529142

                 y         z
x
0.435995  0.025926  0.549662
0.435322  0.420368  0.330335
0.204649  0.619271  0.299655
0.266827  0.621134  0.529142

# reset_index
reset_index in pandas is used to reset index of the dataframe object to default indexing (0 to number of rows minus 1) or to reset multi level index. By doing so, the original index gets converted to a column.

In [66]:
rdf

          x         y         z
a  0.435995  0.025926  0.549662
b  0.435322  0.420368  0.330335
c  0.204649  0.619271  0.299655
d  0.266827  0.621134  0.529142

In [63]:
print('original')
print(rdf)
rdf2 = rdf.set_index('x',inplace=False)
print('\n')
print('another dataframe rdf2')
print(rdf2)

original
   level_0 index         x         y         z
0        0     a  0.435995  0.025926  0.549662
1        1     b  0.435322  0.420368  0.330335
2        2     c  0.204649  0.619271  0.299655
3        3     d  0.266827  0.621134  0.529142


another dataframe rdf2
          level_0 index         y         z
x
0.435995        0     a  0.025926  0.549662
0.435322        1     b  0.420368  0.330335
0.204649        2     c  0.619271  0.299655
0.266827        3     d  0.621134  0.529142

1.drop: Boolean value, Adds the replaced index column to the data if False.

2.inplace: Boolean value, make changes in the original data frame itself if True.

In [61]:
rdf.reset_index(inplace=False,drop=False)

ValueError: cannot insert level_0, already exists

In [60]:
rdf_copy = rdf.reset_index(inplace=True,drop=False)

ValueError: cannot insert level_0, already exists

In [59]:
rdf_copy

In [54]:
rdf.reset_index(inplace=False,drop=False)

  index         x         y         z
0     a  0.435995  0.025926  0.549662
1     b  0.435322  0.420368  0.330335
2     c  0.204649  0.619271  0.299655
3     d  0.266827  0.621134  0.529142

In [ ]:
rdf

# dict key -> col  & Values -> rows

In [ ]:
"CA NV AZ".split()

In [ ]:
df1 = pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
print(df1)
df1['States']="CA NV AZ".split()
print(df1)

df2 = df1.set_index('States',inplace = False)
print(df1)
print(df2)

# fillna()

Now, as we know that, by using the “isnull()” and “sum()” functions, we can check if our data has any missing values or not. So, we will fill up the missing values using the mode(a value that appears most frequently in a data set) of this particular feature using the “fillna()” function.

In [ ]:
df1

In [ ]:
df1.fillna(value='abc') #fill null values

In [ ]:
df1["A"]=df1["A"].fillna(value=4)
df1

In [ ]:
df1.fillna(value=df1['A'].mean())

# groupby()

The “groupby()” function is very useful in data analysis as it allows us to unveil the underlying relationships among different variables.

And then we can apply Aggregations as well on the groups with the “agg()” function and pass it with various aggregation operations such as mean,sum, std etc.

In [ ]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df

In [ ]:
byComp = df.groupby('Company')

In [ ]:
byComp.Sales.mean()

In [ ]:
byComp.Sales.sum()

In [ ]:
byComp.Sales.std()