In [1]:
import numpy as np

# Indexing and Slicing of NumPy array

So far, we have seen how to create a NumPy array and how to play around with its shape. In this section, we will see how to extract specific values from the array using indexing and slicing.

Slicing means retrieving elements from one index to another index.

                       [start:end:step-size].

In [2]:
a = np.array([1,2,3,4,5,6])
print(a[2:6:3])

[3 6]

In [3]:
a = np.array([1,2,3,4,5,6])
print(a[1:6:2])

[2 4 6]

If you donâ€™t specify the start or end index, it is taken as 0 or array size, respectively, as default.

And the step-size by default is 1.

In [4]:
a = np.array([1,2,3,4,5,6])
print(a[:6:3])
print(a[1::2])
print(a[1:6:])

[1 4]
[2 4 6]
[2 3 4 5 6]

In [5]:
a = np.array([[1,2,3],[4,5,6]])
print(a[0,0])
print(a[1,2])
print(a[1,0])

1
6
4

# Slicing 2-D NumPy arrays

To slice a 2-D array, you need to mention the slices for both, the row and the column:

In [6]:
a = np.array([[1,2,3,9],[4,5,6,8],[7,8,9,7],[7,8,9,11]])
# print first row values
print(' 2DArray :','\n',a)
print('First row values :','\n',a[1:3,0:3])

 2DArray :
 [[ 1  2  3  9]
 [ 4  5  6  8]
 [ 7  8  9  7]
 [ 7  8  9 11]]
First row values :
 [[4 5 6]
 [7 8 9]]

In [7]:
print(' 2DArray :','\n',a)
print('Second column values :','\n',a[:,1:])

 2DArray :
 [[ 1  2  3  9]
 [ 4  5  6  8]
 [ 7  8  9  7]
 [ 7  8  9 11]]
Second column values :
 [[ 2  3  9]
 [ 5  6  8]
 [ 8  9  7]
 [ 8  9 11]]

In [8]:
print(' 2DArray :','\n',a)
# with step-size for columns
print('Alternate values from first row:','\n',a[0:3,::2])

 2DArray :
 [[ 1  2  3  9]
 [ 4  5  6  8]
 [ 7  8  9  7]
 [ 7  8  9 11]]
Alternate values from first row:
 [[1 3]
 [4 6]
 [7 9]]

In [9]:
print('Arbitrary values :','\n',a[0:1,2:3])

Arbitrary values :
 [[3]]

# Negative slicing of NumPy arrays

Negative slicing prints elements from the end rather than the beginning.

In [10]:
a = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print(a,'\n')
print(a[::-1,::-1])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

[[10  9  8  7  6]
 [ 5  4  3  2  1]]

In [11]:
a = np.array([[ 1,2,3,4,5,8],[6,7,8,9,10,78],[16,17,18,19,110,76], [116,117,118,119,1110,176], [1116,1117,1118,1119,110,1176]])
print('Original array :','\n',a)
print('Reversed array :','\n',a[::-1,::-1])

Original array :
 [[   1    2    3    4    5    8]
 [   6    7    8    9   10   78]
 [  16   17   18   19  110   76]
 [ 116  117  118  119 1110  176]
 [1116 1117 1118 1119  110 1176]]
Reversed array :
 [[1176  110 1119 1118 1117 1116]
 [ 176 1110  119  118  117  116]
 [  76  110   19   18   17   16]
 [  78   10    9    8    7    6]
 [   8    5    4    3    2    1]]

# flip() method to reverse an ndarray.

In [12]:
a = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print('Original array :','\n',a)
print('Reversed array vertically :','\n',np.flip(a,axis=0))
print('Reversed array horizontally :','\n',np.flip(a,axis=1))

Original array :
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
Reversed array vertically :
 [[ 6  7  8  9 10]
 [ 1  2  3  4  5]]
Reversed array horizontally :
 [[ 5  4  3  2  1]
 [10  9  8  7  6]]

# Stacking and Concatenating NumPy arrays

Stacking ndarrays

You can create a new array by combining existing arrays. This you can do in two ways:

Either combine the arrays vertically (i.e. along the rows) using the vstack() method, thereby increasing the number of rows in the resulting array

Or 

combine the arrays in a horizontal fashion (i.e. along the columns) using the hstack(), thereby increasing the number of columns in the resultant array

![Stacking%20%281%29.webp](attachment:Stacking%20%281%29.webp)

In [13]:
a = np.arange(0,5)
b = np.arange(5,10)
print('Array 1 :','\n',a)
print('Array 2 :','\n',b)
print('Vertical stacking :','\n',np.vstack((a,b)))
print('Horizontal stacking :','\n',np.hstack((a,b)))

Array 1 :
 [0 1 2 3 4]
Array 2 :
 [5 6 7 8 9]
Vertical stacking :
 [[0 1 2 3 4]
 [5 6 7 8 9]]
Horizontal stacking :
 [0 1 2 3 4 5 6 7 8 9]

A point to note here is that the axis along which you are combining the array should have the same size otherwise you are bound to get an error!

In [14]:
a = np.arange(0,4)
b = np.arange(5,9)
print('Array 1 :','\n',a)
print('Array 2 :','\n',b)
print('Vertical stacking :','\n',np.vstack((a,b)))
print('Horizontal stacking :','\n',np.hstack((a,b)))

Array 1 :
 [0 1 2 3]
Array 2 :
 [5 6 7 8]
Vertical stacking :
 [[0 1 2 3]
 [5 6 7 8]]
Horizontal stacking :
 [0 1 2 3 5 6 7 8]